In [1]:
import pandas as pd

In [2]:
DATA_PATH = '../data/Environment_Temperature_change_E_All_Data_NOFLAG.csv'

In [3]:
data_frame = pd.read_csv(DATA_PATH, encoding='cp1252')
print(data_frame.shape)
print(data_frame.head(10))

(9656, 66)
   Area Code         Area  Months Code    Months  Element Code  \
0          2  Afghanistan         7001   January          7271
1          2  Afghanistan         7001   January          6078
2          2  Afghanistan         7002  February          7271
3          2  Afghanistan         7002  February          6078
4          2  Afghanistan         7003     March          7271
5          2  Afghanistan         7003     March          6078
6          2  Afghanistan         7004     April          7271
7          2  Afghanistan         7004     April          6078
8          2  Afghanistan         7005       May          7271
9          2  Afghanistan         7005       May          6078

              Element Unit  Y1961  Y1962  Y1963  ...  Y2010  Y2011  Y2012  \
0  Temperature change   °C  0.777  0.062  2.744  ...  3.601  1.179 -0.583
1  Standard Deviation   °C  1.950  1.950  1.950  ...  1.950  1.950  1.950
2  Temperature change   °C -1.743  2.465  3.919  ...  1.212  0.321 -3.201
3  Standard Deviation   °C  2.597  2.597  2.597  ...  2.597  2.597  2.597
4  Temperature change   °C  0.516  1.336  0.403  ...  3.390  0.748 -0.527
5  Standard Deviation   °C  1.512  1.512  1.512  ...  1.512  1.512  1.512
6  Temperature change   °C -1.709  0.117  0.919  ...  2.591  1.712  1.417
7  Standard Deviation   °C  1.406  1.406  1.406  ...  1.406  1.406  1.406
8  Temperature change   °C  1.412 -0.092 -0.690  ...  1.419  3.643  0.909
9  Standard Deviation   °C  1.230  1.230  1.230  ...  1.230  1.230  1.230

   Y2013  Y2014  Y2015  Y2016  Y2017  Y2018  Y2019
0  1.233  1.755  1.943  3.416  1.201  1.996  2.951
1  1.950  1.950  1.950  1.950  1.950  1.950  1.950
2  1.494 -3.187  2.699  2.251 -0.323  2.705  0.086
3  2.597  2.597  2.597  2.597  2.597  2.597  2.597
4  2.246 -0.076 -0.497  2.296  0.834  4.418  0.234
5  1.512  1.512  1.512  1.512  1.512  1.512  1.512
6 -0.052  0.585  1.589  0.980  1.252  1.442  0.899
7  1.406  1.406  1.406  1.406  1.406  1.406  1.406
8  1.201  0.959  1.862  3.246  3.280  0.855  0.647
9  1.230  1.230  1.230  1.230  1.230  1.230  1.230

[10 rows x 66 columns]

In [4]:
data_frame.iloc[:10, : 10]

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403
5,2,Afghanistan,7003,March,6078,Standard Deviation,°C,1.512,1.512,1.512
6,2,Afghanistan,7004,April,7271,Temperature change,°C,-1.709,0.117,0.919
7,2,Afghanistan,7004,April,6078,Standard Deviation,°C,1.406,1.406,1.406
8,2,Afghanistan,7005,May,7271,Temperature change,°C,1.412,-0.092,-0.690
9,2,Afghanistan,7005,May,6078,Standard Deviation,°C,1.230,1.230,1.230